{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}
<h1>This site is working</h1>
<div class="container-fluid">
    <div class="d-flex flex-row flex-nowrap overflow-auto nobar">
        <div class="col-3">
            <div class="card card-block highlighted" style="width: 18rem;">
                <img src="{{ url_for('static', filename='img/testing-img.png') }}" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Some Card</h5>
                    <p class="card-text">Some text here</p>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card card-block" style="width: 18rem;">
                <img src="{{ url_for('static', filename='img/testing-img.png') }}" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Some Card</h5>
                    <p class="card-text">Some text here</p>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card card-block" style="width: 18rem;">
                <img src="{{ url_for('static', filename='img/testing-img.png') }}" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Some Card</h5>
                    <p class="card-text">Some text here</p>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card card-block" style="width: 18rem;">
                <img src="{{ url_for('static', filename='img/testing-img.png') }}" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Some Card</h5>
                    <p class="card-text">Some text here</p>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card card-block" style="width: 18rem;">
                <img src="{{ url_for('static', filename='img/testing-img.png') }}" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Some Card</h5>
                    <p class="card-text">Some text here</p>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card card-block" style="width: 18rem;">
                <img src="{{ url_for('static', filename='img/testing-img.png') }}" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Some Card</h5>
                    <p class="card-text">Some text here</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}