* {
    border-radius: 0 !important;
    cursor: none;
    
}

.nobar::-webkit-scrollbar {
    display: none;
}

.nobar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    background-color: #2b2b2b;
    color: rgb(209, 209, 209);
}

.card {
    background-color:rgb(22, 22, 22);
}

.card.highlighted {
    border: 2px solid rgb(255, 225, 144);
}